.ag-row .ag-cell {
    display          : flex;
    //justify-content: center; /* align horizontal */
    align-items      : center;
}

.ag-theme-balham .ag-header {
    background-color: #fff!important;
    color: #16a085!important;
}