.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    .left-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
    }

    .right-items {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }
}