.flex-container {
    display        : flex;
    flex-direction : row;
    justify-content: space-between;

    .right-items {
        display        : flex;
        flex-direction : row;
        justify-content: flex-end;
        align-items    : center;
    }
}

.table-schedule {
    margin-top: 10px;

    .title {
        border     : 1px solid #CCC;
        font-weight: bold;
        color      : #000080;
        text-align : center;
        background : #E0E0E0;

        .ant-col:not(:first-child) {
            border-left: 1px solid #CCC;
        }
    }

    .data {
        border-left  : 1px solid #CCC;
        border-right : 1px solid #CCC;
        border-bottom: 1px solid #CCC;

        &:nth-child(even) {
            background: #F2F2F2;
        }

        &:nth-child(odd) {
            background: #FFFFFF;
        }

        .ant-col {
            .ant-card {
                min-height: 135px;
                border    : none;
                background: none;

                .ant-card-head {
                    padding      : 2px;
                    border-bottom: none;

                    .ant-card-extra {
                        padding: 2px 0px;
                        cursor : pointer;

                        .anticon {
                            font-size: 18px;
                            color    : #fa8c16;
                        }
                    }
                }

                .ant-card-body {
                    padding  : 5px;
                    font-size: 13px;
                    color    : #00008B;
                }
            }
        }

        .timeblock {
            text-align : center;
            font-weight: bold;
            color      : #FF0000;
        }

        .ant-col:not(:first-child) {
            border-left: 1px solid #CCC;
        }
    }
}

.ant-dropdown-menu {
    background: #FFF;

    .ant-dropdown-menu-item {
        font-weight: bold;
    }
}

.margin-right {
    margin-right: 15px;
}

.schedule-select {
    .ant-btn {
        color           : #FFF;
        background-color: #0065ed;
        border          : 1px solid #0065ED;
        transition      : all 0.3s ease-in-out;
        margin-right    : 5px;

        &:active,
        &:hover,
        &:focus {
            background: #FFF;
            color     : #0065ED;
        }
    }

    span {
        margin-right: 5px;
    }

    .ant-select {
        margin-right: 10px;
        font-weight : bold;
    }
}

@media only screen and (max-width: 1260px) {

    .schedule-select {
        display: block;
    }

    .schedule-divider {
        display: none;
    }

    .btn-schedule {
        margin-top: 10px;
    }
}

@media only screen and (min-width: 1261px) {
    .schedule-select {
        display        : flex;
        flex-direction : row;
        justify-content: flex-start;
        align-items    : center;
    }
}

@media only screen and (max-width: 950px) {
    .schedule-nam-tuan {
        .ant-select {
            display: block;
        }
    }
}

@media only screen and (max-width: 570px) {
    .btn-schedule {
        .ant-btn {
            display: block;
            margin : 10px 0;
        }
    }
}
